.day-parent{
    #time-column{
        p{
            flex: 1;
        }


    }
    .next-container{
        text-align: center;

        .next-btn {
            font-weight: bolder;
            font-size: 1.2rem;
            background-color: white;
            border-radius: 12px;
            border:solid 1px grey;
            margin-right: 10px;
            margin-bottom: 10px;
            color:grey;
        }
        .next-btn:hover {
            cursor: pointer;
            background: rgb(180, 180, 180);
        }
    }


   
    .calender-columns{
        width: 100%;
        height: 1008px;  //calculated for 40px * no of hours todo - calc()
        display: flex;
        
        .calender-column{
            flex: 1;
            border: 1px solid rgb(214, 211, 211);
            position: relative;

            .has-topic {
                position:absolute;
                margin:auto;
                left:3px;
                width:99.5%;
                color:#fafafa;
                background-color:#e3f2fd;
                border-radius: 2px;
                text-align: center;
                
                p{
                    margin: 0;
                    color: #8c9eff;
                    font-weight: 600;
                }
                .header {
                    
                    font-weight: 900;
                    overflow: hidden;
                    font-size:16px;
                }
            }
        }
    }

    .calender-heading{
        width: 100%;
        display: flex;
        .calender-header{
            flex: 1;
            text-align: center;
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 1rem;
            color: grey;
        }
    }

    .calender-row{
        position: absolute;
        background-color: rgb(214, 211, 211);
        height: 1px;
        width: 100%;
        
    }
    
}