.nav-parent{
    display: flex;
    .nav-child{
        flex: 1;
        #nav-dropdown {
            position: relative;
            display: inline-block;
          }
          
          /* Dropdown Content (Hidden by Default) */
          .dropdown-content {
            display: none;
            position: absolute;
         
            min-width: 160px;
           
            z-index: 1;
          }
    }
}